---
import { Icon } from 'astro-icon/components'
import Container from '@/components/atoms/container/Container.astro';
import { currentLocaleWebsiteConfig } from '@/utils/getWebsiteConfig.ts';
import LanguagePicker from '@/components/atoms/language-picker/LanguagePicker.astro';

const { copyright, socials } = (await currentLocaleWebsiteConfig(Astro.currentLocale)).data.brand;
---

<Container>
  <footer class="mb-[calc(var(--mainNav-height)_+_var(--mainNav-device-gap)_+_env(safe-area-inset-bottom))] flex flex-wrap items-center justify-between md:mb-0 relative z-40">
    <!-- Copyrihgt -->
    <div class="flex p-4 opacity-60 md:text-base md:opacity-100">
      <a class="hover:underline" href={copyright.url}>
        {copyright.title}
      </a>
    </div>
    <div class="mr-4 flex items-center md:mr-0">
      <ul class="flex items-center">
        <li>
          <LanguagePicker/>
        </li>

        {
          socials.map((social) => (
            <li>
              <a class="p-4 inline-block" href={social.url}>
                <Icon size={16} name={social.iconName} title={social.name} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </footer>
</Container>