---
import { getRelativeLocaleUrl } from "astro:i18n";
import Logo from "@/components/atoms/logo/Logo.astro";
import Logomark from "@/components/atoms/logomark/Logomark.astro";
import * as m from "@/paraglide/messages";
import { currentLocaleWebsiteConfig } from "@/utils/getWebsiteConfig.ts";
import { defaultLocale } from "@/utils/i18n.ts";

const globalWebsiteConfig = (
	await currentLocaleWebsiteConfig(Astro.currentLocale)
).data;
const {
	socials: globalWebsiteSocial,
	name: websiteName,
	copyright: websiteCopyright,
	slogan: websiteSlogan,
	email: websiteEmail,
} = globalWebsiteConfig.brand;
const { navigation: globalWebsiteNavigation } = globalWebsiteConfig;

const footerSections = [
	{
		title: m.swift_steep_lobster_push(),
		links: globalWebsiteSocial,
	},
	{
		title: m.maroon_awful_flea_twirl(),
		links: globalWebsiteNavigation,
	},
];
---
<footer class="mb-[calc(var(--mainNav-height)_+_var(--mainNav-device-gap)_+_env(safe-area-inset-bottom))] md:mb-0 relative z-40 py-8 px-4 gap-4 bg-gradient-to-t to-90% from-primary/10 bg-background">
  <div class="flex flex-wrap justify-between container mx-auto">
    <div class="p-4 flex flex-col justify-between">
      <div>
        <a
        data-astro-prefetch
        title={m.funny_small_coyote_chop()}
        href={getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '')}
        class="inline-flex items-center gap-1"
        >
          <Logo />
          <Logomark />
        </a>
        <p class="tracking-wider text-xs">{ websiteSlogan }</p>
      </div>
      <small class="max-w-prose text-muted-foreground tracking-widest">{m.weak_kind_cowfish_hint({websiteName})} <a class="underline" href={websiteCopyright.url}>{ websiteCopyright.title }</a> {m.north_that_shrimp_fold()} <a class="underline" href={`mailto:${websiteEmail}`}>email</a></small>
    </div>

    <!-- Footer Sections -->
    <div class="flex flex-wrap gap-10">
      {
        footerSections.map(section => <div>
        <div class="tracking-widest px-4 font-bold mb-4">
          {section.title}
        </div>
        <ul>
           {
             section.links.map(link => <li>
                 <a class="text-xs p-4 py-2 inline-block"
                    href={link.url.startsWith('http') ? link.url : getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, link.url)}>{link.name}</a>
               </li>)
           }
        </ul>
      </div>)
      }
    </div>
  </div>
</footer>