---
import { Icon } from 'astro-icon/components'
import Container from '@/components/atoms/container/Container.astro';
import { currentLocaleWebsiteConfig } from '@/utils/getWebsiteConfig.ts';
import { type LanguageKey } from '@/utils/i18n.ts';
import LanguagePicker from '@/components/atoms/language-picker/LanguagePicker.astro';

interface Social {
  name: string;
  iconName: string;
  url: string;
}
const { copyright, socials } = (await currentLocaleWebsiteConfig(Astro.currentLocale as LanguageKey)).data.brand;
---

<Container>
  <footer class="mb-[calc(var(--mainNav-height)_+_var(--mainNav-device-gap)_+_env(safe-area-inset-bottom))] flex flex-wrap items-center justify-between md:mb-0 relative z-40">
    <!-- Copyrihgt -->
    <div class="flex p-4 opacity-60 md:text-base md:opacity-100">
      <a class="hover:underline" href={copyright.url}>
        {copyright.title}
      </a>
    </div>
    <div class="mr-4 flex items-center md:mr-0">
      <ul class="flex items-center">
        <li>
          <LanguagePicker/>
        </li>

        {
          socials.map((social: Social) => (
            <li>
              <a class="p-4 inline-block" href={social.url}>
                <Icon size={16} name={social.iconName} title={social.name} />
              </a>
            </li>
          ))
        }


        <li>
          <button class="p-4" aria-label="網頁分享 Share This Website" data-share-btn type="button">
            <Icon size={16} name='material-symbols:share-outline' title='分享符號' />
          </button>
        </li>
      </ul>
    </div>
  </footer>
</Container>

<script is:inline>
  document.querySelector('[data-share-btn]').addEventListener('click', () => {
    const { title } = document;
    const url = document.querySelector('link[rel=canonical]')
      ? document.querySelector('link[rel=canonical]').href
      : document.location.href;
    if (navigator.share) {
      navigator
        .share({
          title,
          url,
        })
        .catch((err) => {
          // eslint-disable-next-line no-console
          console.error(err);
        });
    } else {
      // eslint-disable-next-line no-alert
      alert("Your Browser currently don't Support Navigator API. 瀏覽器尚未支援分享功能");
    }
  });
</script>
