---
import type { ShortpostPage } from '@/types/static-pages'
import { Icon } from 'astro-icon/components'
import { getRelativeLocaleUrl } from 'astro:i18n';
import { translateCategory, defaultLocale, stripLanguageCode, type LanguageKey } from '@/utils/i18n.ts';
import * as m from "@/paraglide/messages";

export type Props = {
  shortposts: ShortpostPage[]
  currentSlug?: string
  isSearchAble?: boolean
} 

const { shortposts, currentSlug, isSearchAble } = Astro.props
const activeShortpostIndexs = shortposts.findIndex((shortpost) => shortpost.slug === currentSlug)
---
<ul class="space-y-4 md:space-y-8">
  {
    shortposts.map((shortpost, index) => {
      const isActiveShort = shortpost.slug === currentSlug
      const isNoActiveShort = !currentSlug
      const HeadingComponent = isActiveShort ? 'h1' : 'h2'

      const maxOpacity = 95;
      const minOpacity = 40;
      const distanceToCurrentShort = Math.abs(activeShortpostIndexs - index);
      const harmonicFactor = 2 / (distanceToCurrentShort + 1);
      const headingOpacity = Math.min(Math.max(harmonicFactor * maxOpacity, minOpacity), 100);

      return (
      <li class="flex text-xl md:text-2xl gap-2 md:gap-4">
        {/* Index */}
        <div class={`hidden sm:block ${isActiveShort ? 'font-bold' : ''}`}>#{shortposts.length - index}</div>
        <div class="w-full" data-pagefind-body={isSearchAble && isActiveShort  || undefined}>
          {/* Title */}
          <a class={`hover:opacity-100 
            ${isActiveShort ? 'opacity-100 mb-4 inline-block' : ''}
            ${isNoActiveShort || !isActiveShort ? '' : 'font-bold'}
            `} 
            
            href={getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, `/shortpost/${stripLanguageCode(shortpost.slug)}/#${stripLanguageCode(shortpost.slug)}`).replace(/\/$/, '')}>
            
            <HeadingComponent
              data-publish-date={shortpost.data.publishDate
                .toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' })
                .replace(/\//g, '-')} 
              data-pagefind-filter={`${m.swift_whole_pony_dare()}:${translateCategory(shortpost.data.category || Astro.currentLocale as LanguageKey, Astro.currentLocale as LanguageKey)}`}
              data-pagefind-sort="date[data-publish-date]" 
              style=`opacity:${headingOpacity}%; scroll-margin: calc(var(--mainNav-height) + 1rem)` id={stripLanguageCode(shortpost.slug)}>
              <span>{shortpost.data.headline}</span>
            </HeadingComponent>
          </a>
          {/* Content */}
          {
            isActiveShort ? <div class="prose md:prose-2xl"><slot /></div> : ''
          }
          {/* Social */}
          {shortpost.data?.social ? <div class={`pt-4 ${(isActiveShort) ? '' : 'hidden'}`}>
            {
              shortpost.data?.social?.threads ? 
            <a data-pagefind-ignore="all" href={shortpost.data.social.threads}>
              <Icon name="simple-icons:threads"></Icon>
            </a>
            : ''
            }
          </div> : ''}
        
        </div>
      </li>
    )
    })
  }
</ul>