---
import type { ShortPage } from '@/types'
import { Icon } from 'astro-icon/components'

type Short = ShortPage
export type Props = {
  shorts: Short[]
  currentSlug?: string
} 

const { shorts, currentSlug } = Astro.props

---
<ul class="space-y-4 md:space-y-8">
  {
    shorts.map((short, index) => {
      const isActiveShort = short.slug === currentSlug
      const isNoActiveShort = !currentSlug
      const HeadingComponent = isActiveShort ? 'h1' : 'h2'
      return (
      <li class="flex text-xl md:text-2xl gap-2 md:gap-4">
        {/* Index */}
        <div class={`${isActiveShort ? 'font-bold' : ''}`}>#{shorts.length - index}</div>
        <div>
          {/* Title */}
          <a class={`hover:opacity-100 
            ${isActiveShort ? 'opacity-100 mb-4 inline-block' : 'opacity-60'}
            ${isNoActiveShort || !isActiveShort ? '' : 'font-bold'}
            `}  href={`/short/${short.slug}#${short.slug}`}>
            <HeadingComponent style='scroll-margin: calc(var(--mainNav-height) + 1rem)' id={short.slug}>
              <span>{short.data.titleTC}</span>
            </HeadingComponent>
          </a>

          {/* Content */}
          {
            isActiveShort ? <div class="prose md:prose-2xl"><slot /></div> : ''
          }
          {/* Social */}
          {short.data?.social ? <div class={`pt-4 ${(isActiveShort) ? '' : 'hidden'}`}>
            {
              short.data?.social?.threads ? 
            <a href={short.data.social.threads}>
              <Icon name="simple-icons:threads"></Icon>
            </a>
            : ''
            }
          </div> : ''}
        
        </div>
      </li>
    )
    })
  }
</ul>