---
import Base from '@/layouts/Base.astro';
import PageBanner from '@/components/banner/Page.astro';
import Card from '@/components/card/Card.astro';
import CardGallery from '@/components/card/CardGallery.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('post');
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
const title = '文章標籤分類';
const description = '所有文章的標籤分類';
---

<Base title={title} description={description}>
  <PageBanner title={title} />
  <div class="mx-4">
    <CardGallery>
      {
        tags.map((tag) => (
          <ul>
            <li class="text-3xl">
              <Card>
                <a href={`${import.meta.env.BASE_URL}post/tags/${tag}`}>{tag}</a>
              </Card>
            </li>
          </ul>
        ))
      }
    </CardGallery>
  </div>
</Base>
