---
export interface Props {
  width?: 'number';
  height?: 'number';
  src: 'string';
  alt: 'string';
  title: 'string';
  loading?: 'eager' | 'lazy' | null | undefined;
  href?: 'string';
}

const { width, height, src, alt, title, loading, href } = Astro.props;
---

{
  href ? (
    <a target="_blank" download href={`${import.meta.env.BASE_URL}${href}`}>
      <figure class="imgFigure">
        <img
          class="m-0 mx-auto"
          width={width}
          height={height}
          src={`${import.meta.env.BASE_URL}${src}`}
          alt={alt}
          loading={loading}
        />
        {title ? <figcaption class="text-center bg-transparent">{title}</figcaption> : ''}
      </figure>
    </a>
  ) : (
    <figure class="imgFigure">
      <img
        class="m-0 mx-auto"
        width={width}
        height={height}
        src={`${import.meta.env.BASE_URL}${src}`}
        alt={alt}
        loading={loading}
      />
      {title ? <figcaption class="text-center bg-transparent">{title}</figcaption> : ''}
    </figure>
  )
}
