---
import '@/styles/global.css';
import { brand } from '@/config.ts';

const { title, description, image } = Astro.props;
const seoTitle = `${title || brand.slogan} - ${brand.name}`;
const seoDescription = description || brand.description;
const seoImage = image || brand.thumbnail;
---

<!-- Global -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- SEO Meta -->
<title>{seoTitle}</title>
<meta name="title" content={seoTitle} />
<meta name="description" content={seoDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:url" content={Astro.url.origin} />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:title" content={seoTitle} />
<meta property="og:description" content={seoDescription} />
<meta
  property="og:image"
  content={seoImage?.attributes?.url ?? new URL('/images/placeholder/webdongOg.jpg', Astro.url)}
/>
<meta property="og:image:alt" content={seoImage?.attributes?.alternativeText ?? '預設 og 圖片'} />
{
  seoImage.attributes ? (
    <>
      <meta property="og:image:width" content={seoImage.attributes.width} />
      <meta property="og:image:height" content={seoImage.attributes.height} />
    </>
  ) : (
    ''
  )
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url.origin} />
<meta property="twitter:title" content={seoTitle} />
<meta property="twitter:description" content={seoDescription} />
<meta
  property="og:image"
  content={seoImage?.attributes?.url ?? new URL('/images/placeholder/placeholder-og.jpg', Astro.url)}
/>
