---
import '@/styles/global.css';
import { brand } from '@/config.ts';

export interface Props {
  title: string;
  description: string;
  thumbnail?: {
    width?: number;
    height?: number;
    src: string;
    alt: string;
  };
}

const { title, description, thumbnail } = Astro.props;
const seoTitle = `${title || brand.slogan} - ${brand.nameTC}`;
const seoDescription = description || brand.description;

const seoImage = {
  src: thumbnail?.src
    ? new URL(`/open-graph/src/content/post/${thumbnail.src}.png`, Astro.url)
    : new URL(brand.thumbnail.src, Astro.url),
  width: thumbnail?.width ?? brand.thumbnail.width,
  height: thumbnail?.width ?? brand.thumbnail.height,
  alt: thumbnail?.alt ?? brand.thumbnail.alt,
};
---

<!-- Global -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- SEO Meta -->
<title>{seoTitle}</title>
<meta name="title" content={seoTitle} />
<meta name="description" content={seoDescription} />

<!-- Favicon -->
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="icon" href="/images/brand/logo-favicon.svg" type="image/svg+xml" />

<!-- Open Graph / Facebook -->
<meta property="og:url" content={Astro.url.origin} />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:title" content={seoTitle} />
<meta property="og:description" content={seoDescription} />
<meta property="og:image" content={seoImage.src} />
<meta property="og:image:alt" content={seoImage.alt} />

{
  seoImage.width ? (
    <>
      <meta property="og:image:width" content={seoImage.width} />
    </>
  ) : (
    ''
  )
}

{
  seoImage.height ? (
    <>
      <meta property="og:image:height" content={seoImage.height} />
    </>
  ) : (
    ''
  )
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url.origin} />
<meta property="twitter:title" content={seoTitle} />
<meta property="twitter:description" content={seoDescription} />
<meta property="og:image" content={seoImage.src} />
