---
import Clickable from '@/components/app/Clickable.astro';

interface NavbarItem {
  url: string;
  name: string;
}

export interface Props {
  themeColor: string | undefined;
}

const mainNav = [
  {
    name: '首頁',
    url: '/',
  },
  {
    name: '關於',
    url: '/about',
  },
  {
    name: '文章',
    url: '/post',
  },
];

const themeColor = Astro.props.themeColor || '#534af7';
const themeColor2 = Astro.props.themeColor ? `${Astro.props.themeColor}20` : '#b887f7';
---

<nav
  style="height: var(--mainNav-height)"
  class="fixed bottom-0 left-0 z-50 flex w-full items-center justify-between filter backdrop-blur-xl sm:fixed sm:top-0 sm:bottom-auto md:backdrop-blur-none"
>
  <div class="grid h-full w-full grid-cols-3 md:grid-cols-2">
    <!-- Brand -->
    <div class="mx-4 flex items-center md:mx-8">
      <a title="網頁東東 LOGO" href={import.meta.env.BASE_URL}>
        <Clickable className="flex gap-2 items-center dark:hover:bg-transparent hover:bg-transparent hover:opacity-80 ">
          <!-- Logo -->
          <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
            ><radialGradient id="A" cx="145.727" cy="297.909" r="203.857" gradientUnits="userSpaceOnUse"
              ><stop offset=".258" stop-color={`${themeColor2}`} stop-opacity=".8"></stop><stop
                offset=".844"
                stop-color={`${themeColor}`}
                stop-opacity=".8"></stop></radialGradient
            ><path
              d="M275.5 186.1L261.2 127c-1.5-5.5-2.6-11-3.7-16.7-1.2-6.5-5.3-12.2-11.5-15.7l-85.3-47.7c-7.9-4.4-17.7-4.4-25.6 0L49.9 94.6c-6.1 3.4-10.2 9.2-11.5 15.7-1.1 5.6-2.1 11.2-3.7 16.7l-14.3 59.1c-1.5 9.2 2.7 17.9 11.2 22.7L132 265.1a32.58 32.58 0 0 0 32 0l100.3-56.4c8.5-4.7 12.7-13.4 11.2-22.6z"
              fill="url(#A)"></path><linearGradient
              id="B"
              gradientUnits="userSpaceOnUse"
              x1="147.994"
              y1="274.956"
              x2="147.994"
              y2="37.865"
              ><stop offset="0" stop-color="#b887f7" stop-opacity="0"></stop><stop
                offset="1"
                stop-color="#fff"
                stop-opacity=".4"></stop></linearGradient
            ><path
              d="M148 43.5c4.4 0 8.9 1.1 12.8 3.3l85.3 47.7c6.1 3.4 10.2 9.2 11.5 15.7 1.1 5.6 2.1 11.2 3.7 16.7l14.3 59.1c1.5 9.2-2.7 17.9-11.2 22.7L164 265.1c-4.9 2.8-10.5 4.2-16 4.2s-11.1-1.4-16-4.2L31.7 208.7c-8.5-4.8-12.7-13.5-11.2-22.7l14.3-59.1c1.5-5.5 2.6-11 3.7-16.7 1.2-6.5 5.3-12.2 11.5-15.7l85.3-47.7c3.8-2.2 8.3-3.3 12.7-3.3m0-5.6c-5.5 0-10.9 1.4-15.6 4.1L47.1 89.7c-7.5 4.2-12.7 11.3-14.3 19.6-1 5.1-2 10.8-3.6 16.2v.1.1l-14.3 59.1v.2.2c-1.9 11.6 3.5 22.6 14.1 28.5l100.3 56.4a38.48 38.48 0 0 0 37.6 0l100.3-56.4c10.6-5.9 16-16.9 14.1-28.5v-.2-.2L267 125.7v-.1-.1c-1.5-5.4-2.6-11.1-3.6-16.2-1.6-8.2-6.8-15.4-14.3-19.6L163.8 42c-4.9-2.7-10.3-4.1-15.8-4.1h0z"
              fill="url(#B)"></path><path
              d="M101.6 109.9c1.4-1 2.2-2.5 3.2-3.8L128 76l3.3-4.3c.4-.6.9-.6 1.5-.3l9.5 5.5c.9.5.9.7.2 1.5l-16.2 18.9c-.3.3-.6.6-.7 1.1.4.2.8.1 1.1 0l21.5-5.3c1.4-.3 2.5-1 3.3-2.2l3.9-5.3c.4-.6.8-.6 1.4-.3l8.1 4.7c.7.4.5.8.2 1.3l-7 9.6-6.8 9.2c-.2.2-.3.4-.5.7s-.6.5-.3.9c.2.2.6 0 .8-.1l4.3-1.3 27.5-8.5c.9-.3 1.6-.2 2.5.2l8.2 4.6c.3.2.5.4.4.7 0 .5-.4.5-.7.5l-13.8 3.7-38.2 10.1-14.6 3.8c-.2.1-.6.3-.8 0s.1-.5.3-.7l9.7-13.1 5.7-7.7c.1-.2.3-.3.3-.5.1-.2.2-.4.1-.5-.1-.3-.4-.1-.6-.1l-5.2 1-20.3 4.3-14.8 3.1c.3-.5.3-.9.3-1.3z"
              fill="#fff"></path></svg
          >

          <!-- Logomark -->
          <svg
            width="80"
            height="60"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 80 60"
            fill="currentColor"
            class="hidden opacity-70 md:block"
          >
            <path
              d="M18.7 29.6l-2.8-7-3.3 7.1-4.8-12.4h2.7l2.3 6.9 1.8-4.5-.9-2.3H16l2.7 6.6 2-6.6h2.5l-4.5 12.2zm18.5-12.4v2.3h-5.8V22h5.1v2.3h-5.1v2.6h6V29h-8.3V17.2h8.1zm15 6.7c.3.5.5 1 .5 1.6 0 1.2-.4 2.1-1.2 2.7s-1.8.8-3 .8h-4V17.2H48c1.3 0 2.2.3 3 .8.7.5 1.1 1.2 1.1 2.2 0 .6-.1 1.1-.4 1.6-.2.4-.6.8-1 1.1a2.84 2.84 0 0 1 1.5 1zM47 22h1.4c.4 0 .8-.1 1-.4s.4-.6.4-1-.1-.7-.4-.9-.6-.3-1.1-.3H47V22zm2.8 4.5c.3-.2.5-.6.5-1 0-.8-.7-1.3-2-1.3H47v2.6h1.5c.5.1 1 0 1.3-.3zM9.5 34.6H13c1.5 0 2.8.3 3.7.9 1 .6 1.7 1.3 2.1 2.3.4.9.7 1.9.7 3s-.3 2.1-.8 3-1.3 1.5-2.2 2-1.9.7-3 .7h-4V34.6zm3.7 9.6c1.2 0 2.2-.3 2.9-.9s1.1-1.5 1.1-2.7c0-.9-.2-1.7-.6-2.3s-.8-.9-1.4-1.2c-.5-.2-1-.3-1.5-.3h-1.9v7.4h1.4zm13.6-6.7a5.81 5.81 0 0 1 2.2-2.2c.9-.6 1.9-.8 3-.8s2.1.3 3 .8a5.81 5.81 0 0 1 2.2 2.2c.5.9.8 1.9.8 3s-.3 2.1-.8 3c-.6.9-1.3 1.7-2.2 2.2s-1.9.8-3 .8-2.1-.3-3-.8a5.81 5.81 0 0 1-2.2-2.2c-.5-.9-.8-1.9-.8-3 0-1 .3-2 .8-3zm2.1 4.9c.3.6.8 1 1.3 1.4s1.2.5 1.9.5 1.3-.2 1.8-.5 1-.8 1.3-1.4.5-1.2.5-1.9-.2-1.4-.5-1.9c-.3-.6-.8-1-1.3-1.4-.6-.3-1.2-.5-1.8-.5-.7 0-1.3.2-1.8.5-.6.3-1 .8-1.3 1.4s-.5 1.2-.5 1.9c-.1.7.1 1.4.4 1.9zm26.4-7.8V47h-.1L47 39.4v7h-2.4V34.1h.1l8.3 7.6v-7.1h2.3zm16 11.3c-.5.2-1 .4-1.5.5l-1.5.2c-1.3 0-2.4-.2-3.3-.7a5.37 5.37 0 0 1-2.2-2c-.5-.9-.8-1.9-.8-3 0-1.4.3-2.6.8-3.5.5-1 1.3-1.7 2.2-2.2s1.9-.7 3.1-.7c.7 0 1.4.1 2 .2s1.2.4 1.7.6l-.8 2.2c-.3-.2-.7-.3-1.3-.5-.5-.1-1-.2-1.4-.2-1.3 0-2.3.3-3 1-.7.6-1 1.6-1 2.9 0 .7.2 1.4.5 1.9s.8 1 1.4 1.2 1.3.4 2 .4 1.3-.1 1.6-.3v-1.4h-2v-2.3h4.4v5c-.2.3-.5.5-.9.7z"
            ></path>
          </svg>
        </Clickable>
      </a>
    </div>

    <!-- Navbar List -->
    <ul class="col-span-2 flex whitespace-nowrap font-medium md:col-span-1">
      {
        mainNav.map((navbarLink: NavbarItem) => (
          <li class="flex-1 transition-opacity hover:opacity-60">
            <a href={navbarLink.url} class="flex h-full w-full items-center justify-center ">
              {navbarLink.name}
            </a>
          </li>
        ))
      }

      <li class="flex items-center justify-center">
        <Clickable>
          <button
            data-theme-toggle
            aria-label="網頁外觀樣式切換 Theme Toggle"
            type="button"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 flex aspect-square w-16 items-center justify-center rounded-lg text-sm"
          >
            <!-- Dark Icon -->
            <svg
              width="16"
              height="16"
              class="hidden dark:block"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1005 1005"
              ><path
                d="M502.5 0C225 0 0 225 0 502.5S225 1005 502.5 1005 1005 780 1005 502.5c0-25.7-2.2-51.4-5.6-75.9-54.7 76.5-144 126.2-245.7 126.2-166.4 0-301.5-135.1-301.5-301.5 0-101.1 49.7-191 126.2-245.7C553.9 2.2 528.2 0 502.5 0h0z"
              ></path></svg
            >

            <!-- Light Icon -->
            <svg
              width="16"
              height="16"
              fill="currentColor"
              class="dark:hidden"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1005 1005"
              ><path
                d="M502.5 274.1c-126.1 0-228.4 102.3-228.4 228.4s102.3 228.4 228.4 228.4 228.4-102.3 228.4-228.4-102.3-228.4-228.4-228.4h0zM45.7 548.2H137c25.1 0 45.7-20.6 45.7-45.7s-20.6-45.7-45.7-45.7H45.7C20.6 456.8 0 477.4 0 502.5s20.6 45.7 45.7 45.7zm822.3 0h91.4c25.1 0 45.7-20.6 45.7-45.7s-20.6-45.7-45.7-45.7H868c-25.1 0-45.7 20.6-45.7 45.7s20.5 45.7 45.7 45.7zM456.8 45.7V137c0 25.1 20.6 45.7 45.7 45.7s45.7-20.6 45.7-45.7V45.7c0-25.1-20.6-45.7-45.7-45.7s-45.7 20.6-45.7 45.7zm0 822.3v91.4c0 25.1 20.6 45.7 45.7 45.7s45.7-20.6 45.7-45.7V868c0-25.1-20.6-45.7-45.7-45.7s-45.7 20.5-45.7 45.7zM228 163.5c-17.8-17.8-47.1-17.8-64.4 0-17.8 17.8-17.8 47.1 0 64.4l48.4 48.4c17.8 17.8 47.1 17.8 64.4 0 17.4-17.8 17.8-47.1 0-64.4L228 163.5zm565 565.1c-17.8-17.8-47.1-17.8-64.4 0-17.8 17.8-17.8 47.1 0 64.4l48.4 48.4c17.8 17.8 47.1 17.8 64.4 0 17.8-17.8 17.8-47.1 0-64.4L793 728.6zM841.5 228c17.8-17.8 17.8-47.1 0-64.4-17.8-17.8-47.1-17.8-64.4 0L728.6 212c-17.8 17.8-17.8 47.1 0 64.4 17.8 17.4 47.1 17.8 64.4 0l48.5-48.4zM276.4 793c17.8-17.8 17.8-47.1 0-64.4-17.8-17.8-47.1-17.8-64.4 0L163.5 777c-17.8 17.8-17.8 47.1 0 64.4s47.1 17.8 64.4 0l48.5-48.4z"
              ></path></svg
            >
          </button>
        </Clickable>
      </li>
    </ul>
  </div>
</nav>

<script is:inline>
  // Theme Toggle
  const themeToggle = document.querySelector('[data-theme-toggle]');
  function themeUpdate() {
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  }

  themeToggle.addEventListener('click', () => {
    if (localStorage.theme === 'light') {
      localStorage.theme = 'dark';
    } else {
      localStorage.theme = 'light';
    }

    window.dispatchEvent(new Event('updateTheme'));

    themeUpdate();
  });
  themeUpdate();
</script>
