---
import Card from '@/components/card/Card.astro';
import Category from '@/components/taxonomy/category.astro';
import Tags from '@/components/taxonomy/tags.astro';

export interface Props {
  post: {
    featureIcon?:
      | {
          width: number;
          height: number;
          alt: string;
          url: string;
        }
      | undefined;
    slug: string;
    titleTC: string;
    excerpt: string;
    publishDate: Date;
    themeColor: string;
    tags: string[];
    category: string;
  };
}

const { featureIcon, titleTC, excerpt, publishDate, themeColor, tags, category, slug } = Astro.props.post;
---

<Card themeColor={themeColor}>
  <article class="flex h-full flex-col justify-between gap-8 pt-8">
    {
      featureIcon && (
        <div
          style={`background-color: ${themeColor}`}
          class="saturate-90 absolute left-0 top-0 ml-4 -translate-y-1/2 transform-gpu overflow-hidden rounded-lg brightness-90 filter dark:brightness-100 dark:saturate-100"
        >
          <img
            src={`${import.meta.env.BASE_URL}${featureIcon.url}`}
            width={featureIcon.width}
            height={featureIcon.height}
            alt={featureIcon.alt}
          />
        </div>
      )
    }
    <div>
      <h3 class="mb-4 text-lg">
        <a href={`${import.meta.env.BASE_URL}post/${slug}`}>{titleTC}</a>
      </h3>
      <p>{excerpt}</p>
    </div>
    <div class="flex flex-wrap items-center justify-between">
      <time class="opacity-60 transition-opacity text-sm hover:opacity-100">
        {
          publishDate
            .toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' })
            .replace(/\//g, '-')
        }
      </time>
      <div class="flex flex-wrap">
        <Category category={category} />
        <Tags tags={tags} />
      </div>
    </div>
  </article>
</Card>
