---
import type { CategoryList as CategoryListType, TagsList } from '@/types'
import Card from '@/components/card/Card.astro';
import CategoryList from '@/components/post/CategoryList.astro';
import TagList from '@/components/post/TagsList.astro';
import { characterToUnicode } from '@/helper/characterToUnicode';

interface PostCard extends CategoryListType, TagsList {
    featureIcon?:
      | {
          width: number;
          height: number;
          alt: string;
          url: string;
        }
      | undefined;
    slug?: string;
    url?: string;
    titleTC: string;
    excerpt: string;
    publishDate?: Date;
    themeColor: string;
  }

export interface Props {
  post: PostCard
}

const { featureIcon, titleTC, excerpt, publishDate, themeColor,tagHrefs, tags, categoryHref, category, slug, url } = Astro.props.post;
---

<Card themeColor={themeColor}>
  <article class={`flex h-full flex-col justify-between gap-8  ${featureIcon ? 'pt-8' : ''}`}>
    {
      featureIcon && (
        <div
          style={`background-color: ${themeColor}`}
          class="absolute left-0 top-0 ml-4 -translate-y-1/2 transform-gpu overflow-hidden rounded-lg"
        >
          <img
            src={`${import.meta.env.BASE_URL}${featureIcon.url}`}
            width={featureIcon.width}
            height={featureIcon.height}
            alt={featureIcon.alt}
          />
        </div>
      )
    }
    <div>
      <h3 transition:name={`title-${slug || characterToUnicode(titleTC)}`} class="mb-4 text-lg font-medium">
        {url ? <a href={url}>{titleTC}</a> : slug ? <a href={`/post/${slug}/`}>{titleTC}</a> : titleTC}
      </h3>
      <p class="line-clamp-3 max-w-prose tracking-wide">{excerpt}</p>
    </div>
    <div class="flex flex-wrap items-center justify-between">
      {
        publishDate && (
          <time class="text-sm opacity-60 transition-opacity hover:opacity-100">
            {publishDate
              .toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' })
              .replace(/\//g, '-')}
          </time>
        )
      }

      <div class="flex flex-wrap">
        {
          category && (
            <CategoryList {...(categoryHref && ({categoryHref}))} {category} />
          )
        }
        {
          tags && (
            <TagList {...(tagHrefs && ({tagHrefs}))} {tags} />
          )
        }
      </div>
    </div>
  </article>
</Card>
