---
import { getCollection } from 'astro:content';
import globalConfig from '@/globalConfig.ts';
import BlogBase from '@/layouts/BlogBase.astro';
import SpotlightCard from '@/components/atoms/spotlight-card/SpotlightCard.astro';
import Hero from '@/components/app/Hero.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import uniqolor from 'uniqolor';
import Container from '@/components/atoms/container/Container.astro';
import { Badge } from '@/components/atoms/badge/index.ts'

const publishedPosts = await getCollection('post', (post) => (import.meta.env.MODE === "production" ? !post.data.isDraft : true));

const categories = [...new Set(publishedPosts.map((post) => post.data.category).flat())].sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
);
const categoriesLists = categories.map((category) => ({
  type: category,
  posts: publishedPosts
    .filter((post) => post.data.category === category)
    .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()),
}));

const currentTime = new Date()
  .toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit', day: '2-digit' })
  .replace(/\//g, '-');
---

<script>
  function initPagefind() {
    const pagefindElement = document.getElementById('pagefind-search');
    if (pagefindElement?.dataset.initialized) return;
    pagefindElement?.setAttribute("data-initialized", 'true')
    // External Code, Skip lint
    // https://pagefind.app/docs/ui-usage/
    // @ts-ignore-next-line
    // eslint-disable-next-line no-new, no-undef
    new PagefindUI({
      element: "#pagefind-search",
      translations: {
        placeholder: "搜尋網頁東東所有文章……"
      },
      showSubResults: true,
      showImages: false,
      resetStyles: false,
      excerptLength: 60,
      sort: { date: "desc" },
    });
  }

  initPagefind()
</script>

<style is:inline>
  #pagefind-search .pagefind-ui__search-input::placeholder {
    opacity: 0.6;
    color: var(--pagefind-ui-placeholder);
    font-weight: normal;
  }
  #pagefind-search .pagefind-ui__search-input:focus {
    outline: none;
    background-color: var(--pagefind-ui-input-active)
  }

  #pagefind-search .pagefind-ui__form::before {
    background-color: var(--pagefind-ui-border);
  }

</style>

<BlogBase>
  <slot name="head">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
  </slot>
  <Hero>
    <a data-cy="last-update-link" slot="beforeHeadline" class="mx-auto inline-block" href={globalConfig.setting.projectUpdateBadgeUrl}>
      <Badge>{`最近更新時間：${currentTime}`}</Badge>
    </a>
    <span slot="headline" style="max-width: 1400px;" class="inline-block">
      網頁東東用最<span class="text-primary">親切簡單</span>的方式描述如何<span
      class="text-primary">設計與架構網頁</span
      >
    </span>
    <div class="container mx-auto text-left mt-0 md:mt-8" id="pagefind-search"></div>
  </Hero>

  <section>
    <h2 class="sr-only">文章種類</h2>
    <Container>
      <div class="flex flex-wrap gap-4">
        <SpotlightCardsGallery minCardWidth={700}>
          {
            categoriesLists.map((categoriesList) => (
              <SpotlightCard themeColor={uniqolor.random({ saturation: 90, lightness: [70, 90] }).color} class="group">
                <div class="mb-8 flex flex-row items-center justify-between gap-2 xl:flex-col xl:items-start">
                  <h2
                    class="text-3xl font-bold opacity-90 group-hover:opacity-100 "
                  >
                    <a data-astro-prefetch href={`/post/categories/${categoriesList.type}/`}>{categoriesList.type}</a>
                  </h2>
                  <span class="opacity-60 transition-opacity group-hover:opacity-100">
                    {categoriesList.posts.length} 篇文章
                  </span>
                </div>

                <ul class="flex flex-col gap-4">
                  {categoriesList.posts.map(
                    (post, index) =>
                      index + 1 < 4 && (
                        <li class="group/list inline-flex gap-12">
                          {/* Different fontsize cause differnt textbox whitespace... In order to align 2 text I manually add margin to it */}
                          <time
                            style="margin-top: 0.3em"
                            class="inline-block whitespace-nowrap opacity-80 group-hover/list:opacity-100 "
                          >
                            {post.data.publishDate
                              .toLocaleDateString('zh-TW', { year: 'numeric', month: '2-digit' })
                              .replace(/\//g, '-')}
                          </time>
                          <a
                            data-astro-prefetch
                            class="inline-block text-lg opacity-80 transition-opacity group-hover/list:opacity-100"
                            href={`/post/${post.slug}/`}
                          >
                            {post.data.titleTC}
                          </a>
                        </li>
                      ),
                  )}
                </ul>
              </SpotlightCard>
            ))
          }
        </SpotlightCardsGallery>
      </div>
    </Container>
  </section>
</BlogBase>
