---
import Base from '@/layouts/Base.astro';
import { getCollection, CollectionEntry } from 'astro:content';
import Tags from '@/components/taxonomy/tags.astro';
import Category from '@/components/taxonomy/category.astro';
import Utteranc from '@/components/app/Utteranc.astro';

export interface Props {
  post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('post');
  const avaliablePosts = posts.filter((post) => !post.data.isDraft);
  return avaliablePosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { featureImage, featureIcon, title, titleTC, publishDate, excerpt, themeColor, tags, category } = post.data;
const { slug } = post;
const { Content, headings } = await post.render();
---

<Base title={titleTC} description={excerpt} themeColor={themeColor} thumbnail={{ src: `${slug}`, alt: `${titleTC}` }}>
  <main style="margin-top: var(--mainNav-height)" class="pt-20">
    <article
      class="article-grid lg:px-auto prose mb-16 block w-full max-w-none px-8 dark:prose-invert dark:prose-dark md:prose-xl lg:grid"
    >
      <header class="not-prose col-start-2 mb-20">
        <!-- Feature Image -->
        {
          featureImage && (
            <img
              class="mx-auto mb-16"
              src={import.meta.env.URL_PREFIX + featureImage.url}
              width={featureImage.width}
              height={featureImage.height}
              alt={featureImage.alt}
            />
          )
        }
        <div class="relative mx-auto">
          <!-- Heading -->
          <div class="text-primary-900 dark:text-primary-50">
            <div class="mb-2">{title}</div>
            <h1 class="mb-4 text-4xl font-black md:text-6xl">{titleTC}</h1>
          </div>
          <div class="flex justify-between">
            <div class="flex md:block">
              <Category category={category} />
              <Tags tags={tags} />
            </div>
            <!-- Publish Date -->
            <time class="opacity-40 hover:opacity-100">
              {publishDate}
            </time>
          </div>

          {
            featureIcon && (
              <div
                class="absolute left-0 top-0 mx-auto -mt-8 -translate-y-full transform-gpu overflow-hidden rounded-lg"
                style={`background-color: ${themeColor}`}
              >
                <img
                  src={`${import.meta.env.BASE_URL}${featureIcon.url}`}
                  width={featureIcon.width}
                  height={featureIcon.height}
                  alt={featureIcon.alt}
                />
              </div>
            )
          }
        </div>
      </header>

      <aside style="top: var(--mainNav-height)" class="sticky col-start-3 row-start-2 ml-4 hidden xl:block">
        {
          Boolean(headings.length) && (
            <div class="absolute top-0">
              <ul class="m-0 p-0">
                {headings.map(({ depth, slug: headingSlug, text }) => (
                  <li class="hover:text-accent dark:hover:text-accent-light line-clamp-2 list-none opacity-60 hover:opacity-100">
                    <a
                      class={`block ${depth <= 2 ? 'mt-3' : 'mt-2 pl-3 text-sm'}`}
                      href={`#${headingSlug}`}
                      aria-label={`Scroll to section: ${text}`}
                    >
                      <span /> {headingSlug}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </aside>

      <Content />
      <Utteranc />
    </article>
  </main>
</Base>

<style is:inline>
  /* Article Layout */
  .article-grid {
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
  }

  .article-grid > * {
    grid-column: 2;
  }

  .article-grid > h2:first-of-type {
    margin-top: 0;
  }

  /* Heading Link */
  .heading-link {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -1rem;
    opacity: 0.4;
    transform: translate(-100%, -50%);
    transition: opacity 0.3s;
    opacity: 0;
  }
  .heading-link:hover {
    opacity: 1;
  }
  :is(h1, h2, h3, h4, h5, h6):hover .heading-link {
    opacity: 1;
  }

  /* External Link */
  .external-link-icon {
    opacity: 0.6;
    transition: opacity 0.3s;
  }

  /* Inside article-content */
  .article-grid a:hover .external-link-icon {
    opacity: 1;
  }

  .article-grid > .imgFigure {
    width: 100%;
    grid-column: 1 / -1;
    transition: 0.3s;
    z-index: 1;
  }

  .article-grid > video {
    margin: 0 auto;
    grid-column: 1 / -1;
    z-index: 1;
  }

  .article-grid > img {
    margin: 0 auto;
    grid-column: 1 / -1;
  }

  astro-island {
    display: inline-block;
  }

  iframe {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
