---
import Logo from '@/components/atoms/logo/Logo.astro';
import Logomark from '@/components/atoms/logomark/Logomark.astro';
import { Icon } from 'astro-icon/components'
import { defaultLocale } from '@/utils/i18n.ts';
import { getRelativeLocaleUrl } from 'astro:i18n';
import * as m from "@/paraglide/messages";
import ThemeToggleButton from '@/components/atoms/theme-toggle-button/ThemeToggleButton.astro'
import GlobalSearch from '@/components/organisms/global-search/GlobalSearch.astro'
import { currentLocaleWebsiteConfig } from '@/utils/getWebsiteConfig.ts';
import LanguagePicker from '@/components/atoms/language-picker/LanguagePicker.astro'

const { navigation } = (await currentLocaleWebsiteConfig(Astro.currentLocale)).data;
const {pathname} = new URL(Astro.request.url);
const currentPath = pathname.slice(1);
---

<nav
  style="padding-bottom: env(safe-area-inset-bottom);"
  class="gap-2 fixed md:bottom-auto top-auto md:top-0 bottom-4 z-50 w-full before:backdrop-blur-none md:before:backdrop-blur-xl before:backdrop-hack border-border md:border-b"
>
    <div class="flex justify-center md:justify-start gap-2 container mx-auto">
        <a
        data-astro-prefetch
        title={m.funny_small_coyote_chop()}
        href={getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, '')}
        class="hidden md:inline-flex items-center gap-1 whitespace-nowrap px-4 text-lg font-bold tracking-widest"
        >
          <Logo class="hidden md:block" />
          <Logomark />
        </a>
        <ul style="height: var(--mainNav-height);" class="font-medium items-center rounded-full flex gap-2 sm:gap-4 justify-center bg-navbar text-navbar-foreground px-4 shadow-lg md:bg-transparent md:border-none md:shadow-none w-auto md:w-full overflow-x-auto overflow-y-hidden">
            {
              navigation.map((navbarLink) => {
                const firstRoutePathWithoutLocale = currentPath.split('/')[0] === Astro.currentLocale ? currentPath.split('/')[1] : currentPath.split('/')[0];
                const isNavItemActive = firstRoutePathWithoutLocale === navbarLink.url

                return (
                <li class={`transition-opacity h-full ${isNavItemActive ? 'active-link relative opacity-100' : 'opacity-60 hover:opacity-100'}`}>
                  <a data-astro-prefetch
                  href={getRelativeLocaleUrl(Astro.currentLocale || defaultLocale, navbarLink.url)}
                  class="relative h-full p-2 flex justify-center flex-col gap-0.5 md:p-4 ">
                    <Icon class="mx-auto md:hidden" name={navbarLink.iconName} title={navbarLink.name} size={24} />
                    <span class="text-sm whitespace-nowrap">{navbarLink.name}</span>
                  </a>
                </li>
              )})
            }
            <li class="size-7 px-1 ml-auto inline-block">
              <ThemeToggleButton/>
            </li>
            <li class="size-7 px-1 -mr-1 -mb-1 inline-block">
             <GlobalSearch/>
            </li>
            <li class="size-7 px-1">
              <LanguagePicker/>
            </li>
        </ul>
        {
          Astro.slots.has('default') &&
          <div class="bg-navbar text-navbar-foreground rounded-full px-4 flex justify-center items-center md:bg-transparent md:border-none shadow-lg md:shadow-none">
            <slot/>
          </div>
        }
    </div>
</nav>

<style>
.active-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  filter: blur(1px);
  background: linear-gradient(90deg,transparent,hsla(var(--primary)),transparent);
  transform: translate(-50%);
}
</style>