---
import Base from '@/layouts/Base.astro';
import SpotlightPostCard from '@/components/atoms/spotlight-post-card/SpotlightPostCard.astro';
import SpotlightCardsGallery from '@/components/atoms/spotlight-cards-gallery/SpotlightCardsGallery.astro';
import GlobalFooter from '@/components/organisms/global-footer/GlobalFooter.astro';
import Navbar from '@/components/organisms/global-navbar/GlobalNavbar.astro';
import YoutubeChannels from '@/components/molecules/youtube-channels/YoutubeChannels.astro';
import Container from '@/components/atoms/container/Container.astro';
import { toolboxs } from '@/utils/getToolboxs.ts';
import { languages } from '@/utils/i18n.ts';
import * as m from "@/paraglide/messages";

const categorizedSites = toolboxs.reduce((categorizedData: Record<string, any[]>, site) => {
  const { data } = site;
  const { category } = data;
  return {
    ...categorizedData,
    [category]: [...(categorizedData[category] || []), data],
  };
}, {});

const categories = Object.keys(categorizedSites);
const categoriesWithQunatity = categories.map((category) => ({ [category]: categorizedSites[category]?.length }));

interface Channel { id: string; category: string }
interface Channels extends Array<Channel> {}

async function getYoutubeChannels(channels: Channels) {
  const youtubeAPIKey = import.meta.env.YOUTUBEAPIKEY;
  const channelsIDs = channels.map((channel) => channel.id).join(',');
  //  YT API V3 Subscriptions.list NOT returning nextPageToken
  // https://issuetracker.google.com/issues/35176305
  // Won't fix Bug, Only Maxium 50 channels per request
  const channelBatches = channelsIDs.split(',').map((channelIDs) => channelIDs.slice(0, 50));
  const parts = ['snippet', 'brandingSettings'];
  return (
        await Promise.all(
        channelBatches.map(async (channelIDs) => {
            const youtubeRequestUrl = `https://www.googleapis.com/youtube/v3/channels?part=${parts}&id=${channelIDs}&key=${youtubeAPIKey}`;
            try {
                const res = await fetch(youtubeRequestUrl);
                if (!res.ok) throw new Error(res.statusText);
                const resJSON = await res.json();
                return resJSON.items.map((channel: any) => ({
                    id: channel.id,
                    url: `https://www.youtube.com/channel/${channel.id}`,
                    title: channel.snippet.title,
                    thumbnail: channel.snippet.thumbnails.default,
                    category: channels.find((localChannel) => channel.id === localChannel.id)?.category,
                    brandingSettings: channel.brandingSettings,
                }));
            } catch (err) {
                // eslint-disable-next-line no-console
                console.error(err);
                return [];
            }
        }),
    )
  ).flat();
}

const youtubeChannelInfos = [
  { id: 'UCQT3GwtAop6cnvTTTsKUUoQ', category: '開發' },
  { id: 'UCD00Is447lWaY04_gNTOaVA', category: '前端' },
  { id: 'UCtEwVJZABCd0tels2KIpKGQ', category: '遊戲開發' },
  { id: 'UCQG40havu4kNpB4pxUDQhYQ', category: '遊戲開發' },
  { id: 'UCEL8871qFEakpqYpwBSjHNA', category: '前端' },
  { id: 'UCd_lJ4zSp9wZDNyeKCWUstg', category: '遊戲開發' },
  { id: 'UCXzw-OdotBUcNA9yhuYQBwA', category: '前端' },
  { id: 'UCrU33aw1k9BqTIq2yKXrmBw', category: '全端' },
  { id: 'UC-8QAzbLcRglXeN_MY9blyw', category: '開發' },
  { id: 'UCfFNverFD_Md_WDQGBBC7Zw', category: '前端' },
  { id: 'UC2Xd-TjJByJyK2w1zNwY0zQ', category: '全端' },
  { id: 'UCr7GjHXlkad7hMcXMc-R3ag', category: '開發' },
  { id: 'UCZgt6AzoyjslHTC9dz0UoTw', category: '全端' },
  { id: 'UCmXVXfidLZQkppLPaATcHag', category: '前端' },
  { id: 'UCnUYZLuoy1rq1aVMwx4aTzw', category: '開發者工具' },
  { id: 'UCyYh-eAr74avLwOyPa1dDNg', category: '開發者工具' },
  { id: 'UCe2gI9snYbRigUF0tOlYFiQ', category: '前端' },
  { id: 'UC1NA1famQ2CQPJr6wxhsFYg', category: '前端' },
  { id: 'UCEbS5GE-OOsvRhn21Hw_fGQ', category: '開發' },
  { id: 'UCaSCt8s_4nfkRglWCvNSDrg', category: '開發' },
  { id: 'UC7pVho4O31FyfQsZdXWejEw', category: '前端' },
  { id: 'UCrsLPlwxUInDoNubOP85EWQ', category: '開發' },
  { id: 'UCMm15RFnHUvM-aSc50e7R9A', category: '前端' },
  { id: 'UCEeLR5dw1gR0v3mw92ftiuw', category: '開發' },
  { id: 'UCWI-ohtRu8eEeDj93hmUsUQ', category: '全端' },
  { id: 'UCwYb4QztAKKqj5YcaTEtyrQ', category: '前端' },
  { id: 'UCHa8J-xnRYOg5VuudfWpBgg', category: '前端' },
  { id: 'UCrqAGUPPMOdo0jfQ6grikZw', category: '前端' },
  { id: 'UC9-y-6csu5WGm29I7JiwpnA', category: '計算機科學' },
  { id: 'UCCfqyGl3nq_V0bo64CjZh8g', category: '開發' },
  { id: 'UCZ6WpfaTIYkdqpH-16ep2GQ', category: '前端' },
  { id: 'UCVyRiMvfUNMA1UPlDPzG5Ow', category: '使用者介面' },
  { id: 'UCDrekHmOnkptxq3gUU0IyfA', category: '開發' },
  { id: 'UCV4AXpDSxschk8I0sCl8JXw', category: '前端' },
  { id: 'UCyIe-61Y8C4_o-zZCtO4ETQ', category: '前端' },
  { id: 'UCrUL8K81R4VBzm-KOYwrcxQ', category: '開發' },
  { id: 'UCP4bf6IHJJQehibu6ai__cg', category: '開發者工具' },
  { id: 'UC8butISFwT-Wl7EV0hUK0BQ', category: '開發' },
  { id: 'UCFDF_U_uoKc6MhIZPZKo5CA', category: '全端' },
  { id: 'UCO1cgjhGzsSYb1rsB4bFe4Q', category: '開發' },
  { id: 'UCvmINlrza7JHB1zkIOuXEbw', category: '全端' },
  { id: 'UCWf2ZlNsCGDS89VBF_awNvA', category: '開發者工具' },
  { id: 'UCrZOiJyMbXpZ8T5snCIJaLA', category: '開發' },
  { id: 'UCmEzz-dPBVrsy4ZluSsYHDg', category: '前端' },
  { id: 'UCsMoFkb0DSPIjHGFFzYH42Q', category: '開發' },
  { id: 'UC-T8W79DN6PBnzomelvqJYw', category: '前端' },
  { id: 'UCvjgXvBlbQiydffZU7m1_aw', category: '開發' },
  { id: 'UCa8W2_uf81Ew6gYuw0VPSeA', category: '使用者介面' },
  { id: 'UCVzt0Ltq6VNKRqRMrry3OIA', category: '遊戲開發' },
  { id: 'UCs5Y5_7XK8HLDX0SLNwkd3w', category: '開發者工具' },
  { id: 'UC7P4OgGjFZUSUt1J472c4Ew', category: '計算機科學' },
  { id: 'UC5--wS0Ljbin1TjWQX6eafA', category: '開發' },
  { id: 'UCfzOLBT7jyHFcaTgwmnttog', category: '使用者介面' },
  { id: 'UCUSxKiac-miugK9CDsxGS9Q', category: '前端' },
  { id: 'UCrL69sErRwEyr7_p0qVCkOQ', category: '前端' },
  { id: 'UCzestFrXpwSGCfcbO2pObwQ', category: '使用者介面' },
  { id: 'UC5EU0syk1Am-c_zpOeYQXfw', category: '使用者介面' },
  { id: 'UC-0fWjosItIOD4ThhS6oyfA', category: '開發' },
  { id: 'UCQsVmhSa4X-G3lHlUtejzLA', category: '使用者介面' },
  { id: 'UCsBjURrPoezykLs9EqgamOA', category: '開發' },
  { id: 'UCqJ-Xo29CKyLTjn6z2XwYAw', category: '遊戲開發' },
  { id: 'UC-4nsAH5j9AIhv5tHoQSP9g', category: '開發' },
  { id: 'UCvBGFeXbBrq3W9_0oNLJREQ', category: '使用者介面' },
  { id: 'UCzoVCacndDCfGDf41P-z0iA', category: '開發' },
  { id: 'UCWQmoLB4Fz0MoWwiCBq8WQg', category: '開發' },
  { id: 'UCJZv4d5rbIKd4QHMPkcABCw', category: '前端' },
  { id: 'UCZCQ3LXtU3IUzMBQBqN69KQ', category: '前端' },
  { id: 'UC7TizprGknbDalbHplROtag', category: '前端' },
  { id: 'UCVTlvUkGslCV_h-nSAId8Sw', category: '前端' },
  { id: 'UCgmcPHueYRarnCkihtNIRlw', category: '前端' },
  { id: 'UCqSSszY8L-Qfn4HKAllnxVg', category: '開發' },
  { id: 'UClcE-kVhqyiHCcjYwcpfj9w', category: '資安' },
  { id: 'UC2wNnyb3vWhOt0K6LpBrtGg', category: '遊戲開發' },
  { id: 'UC_mYaQAE6-71rjSN6CeCA-g', category: '開發' },
  { id: 'UCV3-2vJmpa4hzbjEhNMNs9w', category: '前端' },
  { id: 'UCW5YeuERMmlnqo4oq8vwUpg', category: '前端' },
  { id: 'UCqgU14t4ZjTqaKVTbf5ePiA', category: '開發' },
  { id: 'UCUMwY9iS8oMyWDYIe6_RmoA', category: '開發' },
  { id: 'UCaJmKxnFgEaeXr9aEnL22ew', category: '前端' },
  { id: 'UCJq6AEgtWeZt7ziQ-fLKOeA', category: '前端' },
  { id: 'UCczXI0u-LKlX-oBwrkKtOdg', category: '開發' },
  { id: 'UCW6MNdOsqv2E9AjQkv9we7A', category: '資安' },
  { id: 'UCEwhtpXrg5MmwlH04ANpL8A', category: '遊戲開發' },
  { id: 'UCDzVUXiTr3hClI-zzCWbYzg', category: '計算機科學' },
  { id: 'UCGmR6lhKMlCkvrvb39vPtdA', category: '前端' },
  { id: 'UCUdkjbeIFea0qUSgwR1CUOg', category: '開發' },
  { id: 'UCyU5wkjgQYGRB0hIHMwm2Sg', category: '前端' },
  { id: 'UCpGCuiAOFIDurA-hU_p2E0w', category: '遊戲開發' },
  { id: 'UC4xKdmAXFh4ACyhpiQ_3qBw', category: '生活' },
  { id: 'UCxVPH8W2ayMey1-b0SY8rBQ', category: '開發' },
  { id: 'UCV0qA-eDDICsRR9rPcnG7tw', category: '生活' },
  { id: 'UCUyeluBRhGPCW4rPe_UvBZQ', category: '開發' },
  { id: 'UCbRP3c757lWg9M-U7TyEkXA', category: '開發' },
  { id: 'UClEEzwG7Tl3-8eY11Qytsog', category: '全端' },
  { id: 'UC29ju8bIPH5as8OGnQzwJyA', category: '全端' },
  { id: 'UCGPGirOab9EGy7VH4IwmWVQ', category: '開發' },
  { id: 'UCbfYPyITQ-7l4upoX8nvctg', category: '計算機科學' },
  { id: 'UCcf4LQogGFtYzPhq05uHE4g', category: '計算機科學' },
  { id: 'UCbAn7pVK2VIyo-UysfWGdZQ', category: '前端' },
  { id: 'UC0cDihZ20PWUQzHh_hOigtA', category: '生活' },
  { id: 'UCa1zuotKU4Weuw_fLRnPv0A', category: '前端' },
  { id: 'UC-4Ij6StciJgYzbxLyxHMPw', category: '前端' },
  { id: 'UCFbNIlppjAuEX4znoulh0Cw', category: '前端' },
  { id: 'UCy1Q33r6POsxGTtZcOF--Fw', category: '前端' },
  { id: 'UCAzMOk7mDFug5hGlU-ilmGQ', category: '生活' },
  { id: 'UC0yCXVwW6FdDQGYA-3OWXxw', category: '開發' },
  { id: 'UCvYUyKg7wDj760PippmWhig', category: '遊戲開發' },
  { id: 'UCQiB10TT-sy5wdmCB6fiFlg', category: '開發' },
  { id: 'UC45xDuLSKCXhw-gtTtPV7Ew', category: '前端' },
  { id: 'UC7ArpUezGLX-dZ0FTS_jVMQ', category: '前端' },
  { id: 'UC1KKByu8cgQWPiKe1GZZQbg', category: '使用者介面' },
]

const youtubeChannels = await getYoutubeChannels(youtubeChannelInfos);

export function getStaticPaths() {
  return Object.keys(languages).map(language => ({
    params: { language }
  }))
};
---

<script>
 function refreshCategory() {
    const categoryItems = document.querySelectorAll('[data-category-item]');
    categoryItems.forEach((categoryItem) => {
      const categoryItemLink = categoryItem.querySelector('a');
      categoryItemLink?.classList.remove('before:content-[">"]');
      if (window.location.hash === '') return;
      if (categoryItemLink?.href.includes(window.location.hash)) {
        categoryItemLink?.classList.add('before:content-[">"]');
      }
    });
  }

  const nav = document.querySelector('[data-nav]');

  document.querySelector('[data-nav-close]')?.addEventListener('click', () => {
    nav?.classList.add('hidden');
  });

  document.querySelector('[data-nav-toggle]')?.addEventListener('click', () => {
    nav?.classList.toggle('md:hidden');
    nav?.classList.toggle('hidden');
  });

  window.addEventListener('hashchange', () => {
    refreshCategory();
  });

  refreshCategory();
</script>

<Base title={m.plain_helpful_pig_commend()} description={m.mean_mean_starfish_animate()}>
  <Navbar>
    <button class="cursor-pointer" data-nav-toggle aria-label={m.ornate_cuddly_peacock_spur()}  
      ><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"
        ><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"></path></svg
      ></button
    >
  </Navbar>
  <div class="flex">
    <aside
      style=" flex: 0 0 300px;"
      data-nav
      class="fixed left-0 top-0 z-40 hidden h-full flex-col justify-between backdrop-blur-xl md:sticky md:top-[var(--mainNav-height)] md:block"
    >
      <ul class="group ml-0 divide-y divide-border/40 md:ml-4">
        <li data-category-item>
          <a
            href={`#dev&design`}
            class="inline-block w-full p-4 font-medium tracking-wider transition-opacity before:mr-2 group-hover:opacity-60 group-hover:hover:opacity-100"
            >{m.away_quaint_pony_file()}<sup class="p-2">{youtubeChannelInfos.length}</sup>
          </a>
        </li>
        {
          categoriesWithQunatity.map((category) => {
            const categoryKey = Object.keys(category)[0];
            const categoryValue = Object.values(category)[0];

            return (
              <li data-category-item>
                <a
                  class="inline-block w-full p-4 font-medium tracking-wider  transition-opacity before:mr-2 group-hover:opacity-60 group-hover:hover:opacity-100"
                  href={`#${categoryKey}`}
                >
                  <span>{categoryKey}</span>
                  <sup class="p-2">{categoryValue}</sup>
                </a>
              </li>
            );
          })
        }
      </ul>
    </aside>
    <main class="flex w-full min-w-0 flex-col gap-4">
      <div class="mt-0 md:mt-[var(--mainNav-height)]">
        <Container>
          <section class="px-6 mx-auto my-16 flex" style="max-width: 1450px;">
            <h1 class="mx-auto text-center text-3xl font-bold md:text-5xl">
              {m.misty_tangy_blackbird_dine()}<span class="text-primary">{m.gray_candid_herring_beam()}</span>{m.super_arable_mayfly_fulfill()}<span
                class="text-primary">{m.mealy_sea_salmon_advise()}</span
              >{m.only_slimy_eel_climb()}
            </h1>
          </section>
        </Container>
        <Container>
          <section class="flex flex-col px-6">
          <h2 id="dev&design" class="py-8 text-xl font-bold tracking-widest before:mr-2 md:pb-16">
            <a href={`#dev&design`}>{m.away_quaint_pony_file()}</a>
          </h2>

          <YoutubeChannels youtubeChannels={youtubeChannels} />
          </section>
        </Container>
        {
          Object.entries(categorizedSites).map((siteCategories) => (
            <Container>
              <section class=" flex flex-col">
                {siteCategories.map((group) => {
                  if (typeof group === 'string')
                    return (
                      <h2
                        id={group}
                        class="py-8 px-6 text-xl font-bold tracking-widest before:mr-2 before:hidden target:before:inline target:before:content-['>'] md:pb-16"
                      >
                        <a href={`#${group}`}>{`${group}`}</a>
                      </h2>
                    );

                  return (
                    <SpotlightCardsGallery>
                      {group.map((site) => <SpotlightPostCard post={site} />)}
                    </SpotlightCardsGallery>
                  );
                })}
              </section>
            </Container>
            ))
        }
        <Container>
          <section class="mx-auto py-16 flex px-6" style="max-width: 1450px;">
            <h2 style="max-width: 900px" class="mx-auto text-center text-3xl font-bold md:text-5xl">
              {m.antsy_just_boar_burn()} <span class="text-primary">{m.bad_zesty_anaconda_propel()} </span
              >{m.every_dark_haddock_hug()} {m.sound_bland_mammoth_animate()} <a class="underline" href="https://github.com/riceball-tw/astro-blog">{m.careful_weak_emu_belong()}</a>{m.wide_salty_rabbit_reside()}
            </h2>
          </section>
        </Container>
      </div>
    </main>
  </div>
  <GlobalFooter />
</Base>
